version: '2'

services:
  traefik:
    image: traefik:1.3.5
    restart: always
    ports:
      - 9999:80
      - 10001:443
      - 10000:8083
    networks:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/traefik/traefik.toml:/etc/traefik/traefik.toml
      - /opt/traefik/acme.json:/etc/traefik/acme.json
    container_name: traefik

  ai-ws:

    container_name: ai-ws
    build: ./ai-ws
    expose:
      - "5000"
    labels:
      - "traefik.backend=api"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:docker.rcsl.lu"
      - "traefik.pathprefix=/api"
      - "traefik.enable=true"
      - "traefik.port=5000"
  
  frontend-ai:
    container_name: frontend-ai
    build: ./frontend-ai
    expose:
      - "8080"
    labels:
      - "traefik.backend=tina"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:docker.rcsl.lu"
      - "traefik.pathprefix=/tina"
      - "traefik.enable=true"
      - "traefik.port=8080"
      - "traefik.default.protocol=http"
      

networks:
  web:
    external: true