version: '3'

services:
  traefik:
    image: traefik:1.5
    restart: always
    ports:
      - 88:80
      - 443:443
      - 10002:8080
      - 10001:8082
      - 10000:8081
    labels:
      - "traefik.frontend.rule=Host:docker.rcsl.lu"
      - "traefik.frontend.entryPoints=http-admin"
    networks:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/traefik/traefik.toml:/etc/traefik/traefik.toml
      - /opt/traefik/acme.json:/etc/traefik/acme.json
   

  ai-ws:
    build: ./ai-ws
    expose: 
      - "5000"
    ports:
      - 5008:5000
    volumes:
      - aidata:/trainingdata

    labels:
      - "traefik.backend=api"
      - "traefik.frontend.entryPoints=http"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=PathPrefix:/swaggerui,/api"
      - "traefik.enable=true"
      - "traefik.port=5000"
    networks:
      - web

  frontend-ai:
    build: ./frontend-ai
    expose:
      - "8080"
    labels:
      - "traefik.backend=tina"
      - "traefik.frontend.entryPoints=http"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=PathPrefix:/tina"
      - "traefik.enable=true"
      - "traefik.port=8080"
      
    networks:
      - web
  portainer:
    image: portainer/portainer
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "portainerdata:/data"
    networks:
      - web
    
    labels:
      - "traefik.enable=true"
      - "traefik.port=9000"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:portainer.docker.rcsl.lu"

  redis:
    env_file:
      - prod_env
    restart: always
    image: redis:latest
    expose:
      - "6379"
  
    volumes:
    - ./redis:/data

  php-redis-admin:
    env_file:
     - prod_env
    image: faktiva/php-redis-admin

    environment:
     - PHPREDMIN_DATABASE_REDIS_0_HOST=redis
    expose:
     - "80"
    
    labels:
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.port=80"
      - "traefik.frontend.rule=Host:pra.docker.rcsl.lu"

    depends_on:
    - redis
  
networks:
  web:
    external: true

volumes:
  aidata: {}
  portainerdata: {}
