version: '2'

services:
  ai-ws:
    build: ./ai-ws
    expose:
      - "5000"
    labels:
      - "traefik.backend=api"
      - "traefik.frontend.entryPoints=http"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:ai-api.julien.tech"
      - "traefik.enable=true"
      - "traefik.port=5000"
      - "traefik.default.protocol=https"
      
    networks:
      - web

  frontend-ai:
    build: ./frontend-ai
    expose:
      - "3000"
    labels:
      - "traefik.backend=tina"
      - "traefik.frontend.entryPoints=http"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=Host:ai.julien.tech"
      - "traefik.enable=true"
      - "traefik.port=8080"
      - "traefik.default.protocol=https"
      
    networks:
      - web
      
  redis:
    env_file:
      - prod_env
    restart: always
    image: redis:latest
    expose:
      - "6379"
    
    volumes:
    - ./redis:/data


  php-redis-admin:
    env_file:
      - prod_env
    image: faktiva/php-redis-admin
    container_name: pra
    environment:
    - PHPREDMIN_DATABASE_REDIS_0_HOST=redis
    expose:
    - "80"
    
    labels:
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.port=80"
      - "traefik.frontend.rule=Host:pra.julien.tech"
      - "traefik.frontend.entryPoints=http"
      - "traefik.default.protocol=https"
    depends_on:
    - redis

networks:
  web:
    external: true