version: '2'

services:
  traefik:
    image: traefik:1.5
    restart: always
    ports:
      - 9999:80
      - 443:443
      - 10002:8080
      - 10000:8081
    labels:
      - "traefik.frontend.rule=Host:docker.rcsl.lu"
      - "traefik.frontend.entryPoints=http-admin"
    networks:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/traefik/traefik.toml:/etc/traefik/traefik.toml
      - /opt/traefik/acme.json:/etc/traefik/acme.json
    container_name: traefik

  ai-ws:
    build: ./ai-ws
    expose:
      - "5000"
    labels:
      - "traefik.backend=api"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=PathPrefix:/swaggerui,/api"
      - "traefik.enable=true"
      - "traefik.port=5000"
      - "traefik.default.protocol=http"
      - "traefik.protocol=https"
    networks:
      - web

  frontend-ai:
    build: ./frontend-ai
    expose:
      - "3000"
    labels:
      - "traefik.backend=tina"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=PathPrefix:/tina,/static"
      - "traefik.enable=true"
      - "traefik.port=3000"
      - "traefik.default.protocol=http"
      - "traefik.protocol=https"
    networks:
      - web
      

networks:
  web:
    external: true