version: '3'

services:
  traefik:
    image: traefik:1.5
    restart: always
    ports:
      - 88:80
      - 443:443
      - 10002:8080
      - 10001:8082
      - 10000:8081
    labels:
      - "traefik.frontend.rule=Host:julien.tech"
      - "traefik.frontend.entryPoints=http-admin"
    networks:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /opt/traefik/traefik.toml:/etc/traefik/traefik.toml
      - /opt/traefik/acme.json:/etc/traefik/acme.json
    container_name: traefik

  ai-ws:
    build: ./ai-ws
    expose:
      - "5000"
    ports:
      -"5008":"5000"
    volumes:
      - aidata:/trainingdata

    labels:
      - "traefik.backend=api"
      - "traefik.frontend.entryPoints=https"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=PathPrefix:/swaggerui,/api"
      - "traefik.enable=true"
      - "traefik.port=5000"
    networks:
      - web

  frontend-ai:
    build: ./frontend-ai
    expose:
      - "8080"
    labels:
      - "traefik.backend=tina"
      - "traefik.frontend.entryPoints=https"
      - "traefik.docker.network=web"
      - "traefik.frontend.rule=PathPrefix:/tina"
      - "traefik.enable=true"
      - "traefik.port=8080" 
      
    networks:
      - web

networks:
  web:
    external: true

volumes:
  aidata: {}
